@import "_normalize"; //reset
/* noto-sans-tc-regular - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-tc-v35-chinese-traditional-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-500 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-tc-v35-chinese-traditional-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-600 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/noto-sans-tc-v35-chinese-traditional-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-800 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/noto-sans-tc-v35-chinese-traditional-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-900 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-sans-tc-v35-chinese-traditional-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
$textColor: #524843;
$boxBg: #fffaf0;

body {
  background: url(../images/bg.jpg) repeat;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  &.decoStart:before {
    content: "";
    width: 729px;
    height: 201px;
    display: block;
    background: url(../images/bg_top.png) 0 0 no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &.decoEnd:after {
    content: "";
    width: 597px;
    height: 197px;
    display: block;
    background: url(../images/bg_bottom.png) 0 0 no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .wrap {
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;
  }
  .popup {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    isolation: isolate;
    z-index: 1;
    .popupBlock {
      width: 1080px;
      // height: 755px;
      background: #fff;
      border-radius: 38px;
      box-shadow: 0 26px 30px rgba($color: #000000, $alpha: 0.28);
      position: relative;
      box-sizing: border-box;
      padding: 100px 85px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .close {
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background: url(../images/close.png) center center no-repeat;
        font-size: 0;
      }
      .popupContent {
        .number {
          font-size: 150px;
          font-weight: 900;
          color: #fda300;
          line-height: 100%;
          margin-bottom: 30px;
        }
        .text {
          font-size: 50px;
          font-weight: 600;
          line-height: 180%;
          color: $textColor;
          margin-bottom: 58px;
        }
        + .btn {
          gap: 35px;
        }
      }
    }
    .popupOverlay {
      background: rgba($color: #000000, $alpha: 0.47);
      position: absolute;
      inset: 0;
    }
  }
}
.header {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 60px;
  .logo {
    height: 80px;
    margin: 0 auto;
    float: left;
    img {
      width: auto;
      height: 100%;
    }
  }
  .member {
    float: right;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
.btn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  a:only-child {
    margin: 0 auto;
  }
  a {
    display: inline-block;
    height: 91px;
    line-height: 91px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    &.greyBtn {
      width: 351px;
      color: #615c52;
      background: url(../images/btnbg02.png) 0 0 no-repeat;
    }
    &.yellowBtn {
      width: 351px;
      color: #53402b;
      background: url(../images/btnbg03.png) 0 0 no-repeat;
    }
  }
}
.content {
  .title {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    background: rgb(71, 53, 46);
    background: linear-gradient(
      0deg,
      rgba(71, 53, 46, 1) 0%,
      rgba(101, 45, 0, 1) 100%
    );
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
    line-height: 100%;
  }
  .subTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    background: rgb(71, 53, 46);
    background: linear-gradient(
      0deg,
      rgba(71, 53, 46, 1) 0%,
      rgba(101, 45, 0, 1) 100%
    );
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    line-height: 100%;
  }
}
// 借閱步驟
.stepBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1496px;
  margin: 0 auto 56px auto;
  .stepArrow {
    margin-top: -100px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .stepPic {
    position: relative;
    width: 414px;
    height: 355px;
    border: 10px solid #fff;
    border-radius: 80px;
    box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
    overflow: hidden;
    .hand {
      position: absolute;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
  .stepText {
    width: 270px;
    height: 91px;
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: url(../images/step_textbg.png) center center no-repeat;
    margin: 20px auto 0 auto;
    padding-top: 36px;
    line-height: 100%;
  }
  .step1 {
    .stepPic {
      background: $boxBg url(../images/step1_bg.png) center center no-repeat;
      .hand {
        animation-name: hand1;
        transform: translateX(-335px) translateY(320px);
      }
    }
  }
  .step2 {
    .stepPic {
      background: $boxBg url(../images/step2_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand2;
        transform: translateX(25px) translateY(87px) rotate(-10deg);
      }
    }
  }
  .step3 {
    .stepPic {
      background: $boxBg url(../images/step3_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand3;
        // animation-delay: 6s;
        transform: translateX(-250px) translateY(250px);
      }
    }
  }
  ~ .btn .startBtn {
    width: 691px;
    color: #53402b;
    background: url(../images/btnbg01.png) 0 0 no-repeat;
  }
}
// 掃描
.scanBlock {
  position: relative;
  width: 1218px;
  height: 393px;
  border: 10px solid #fff;
  border-radius: 80px;
  box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
  overflow: hidden;
  background: $boxBg url(../images/scan_bg.png) center center no-repeat;
  margin: 0 auto 92px auto;
  .hand {
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  .handLeft {
    animation-name: hand4;
    transform: translateX(-350px) translateY(350px);
  }
  .handRight {
    animation-name: hand5;
    transform: translateX(1200px) translateY(350px);
  }
}

@keyframes hand1 {
  0% {
    transform: translateX(-335px) translateY(320px);
  }
  25% {
    transform: translateX(-19px) translateY(98px);
  }
  100% {
    transform: translateX(-19px) translateY(98px);
  }
}
@keyframes hand2 {
  0% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  30% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  55% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
  100% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
}
@keyframes hand3 {
  0% {
    transform: translateX(-250px) translateY(250px);
  }
  60% {
    transform: translateX(-250px) translateY(250px);
  }
  85% {
    transform: translateX(-60px) translateY(121px);
  }
  100% {
    transform: translateX(-60px) translateY(121px);
  }
}
@keyframes hand4 {
  0% {
    transform: translateX(-350px) translateY(350px);
  }
  25% {
    transform: translateX(75px) translateY(150px);
  }
  100% {
    transform: translateX(75px) translateY(150px);
  }
}
@keyframes hand5 {
  0% {
    transform: translateX(1200px) translateY(350px);
  }
  35% {
    transform: translateX(1200px) translateY(350px);
  }
  60% {
    transform: translateX(845px) translateY(135px);
  }
  100% {
    transform: translateX(845px) translateY(135px);
  }
}
.profileBlock {
  position: relative;
  max-width: 1635px;
  height: 108px;
  padding: 0 72px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
  overflow: hidden;
  background: $boxBg;
  margin: 0 auto 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $textColor;
  .name,
  .number {
    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fdcd00;
      border-radius: 50%;
    }
  }
}
// 條款
.termsBlock {
  position: relative;
  max-width: 1635px;
  height: 428px;
  padding: 30px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
  overflow: hidden;
  background: $boxBg;
  margin: 0 auto 40px auto;
  font-size: 27px;
  font-weight: 600;
  color: #3a2e2a;
  .terms {
    overflow-y: scroll;
    padding: 0 42px;
    height: 350px;
    p {
      margin-top: 0;
    }
  }
  .terms::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $boxBg;
  }

  .terms::-webkit-scrollbar {
    width: 15px;
    background-color: $boxBg;
  }

  .terms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d6c9af;
  }
  + .btn {
    max-width: 1635px;
    margin: 0 auto;
  }
}
.caseBlock {
  max-width: 1635px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .rightCase {
    position: relative;
    width: 1002px;
    height: 712px;
    background: url(../images/case_bg.png) 0 0 no-repeat;
    .legend {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 55px;
      bottom: -70px;
      div {
        font-size: 33px;
        font-weight: 600;
        color: #3e342f;
        line-height: 100%;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          width: 76px;
          height: 42px;
          margin-right: 10px;
          vertical-align: middle;
          border-radius: 6px;
        }
      }
      .empty:before {
        background: #fdcd00;
      }
      .available:before {
        background: #8bddde;
      }
      .disable:before {
        background: #a9aaab;
      }
    }
    .caseGroup {
      position: absolute;
      left: 50px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      width: 450px;
      &.group1 {
        top: 35px;
      }
      &.group2 {
        top: 254px;
      }
      &.group3 {
        top: 472px;
      }
      &.group4 {
        left: 525px;
        top: 472px;
      }

      .case {
        width: 58px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e9eaea;
        font-size: 24px;
        font-weight: bold;
        color: #3e342f;
        border: 3px solid #534741;
        border-radius: 8px;
        &:nth-child(n + 7) {
          margin-top: -3px;
        }
        &.empty {
          background: #fdcd00;
        }
        &.available {
          background: #8bddde;
        }
        &.disable {
          background: #a9aaab;
          color: #fff;
        }
      }
    }
  }
  .leftText {
    text-align: center;
    .text {
      font-size: 50px;
      font-weight: 600;
      color: $textColor;
      line-height: 180%;
      margin-bottom: 70px;
    }
    &.loan {
      .number {
        font-size: 150px;
        font-weight: 900;
        color: #fda300;
        line-height: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    &.launch {
      padding-left: 60px;
    }
    &.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .btn {
        flex-direction: column;
        gap: 18px;
      }
    }
  }
}
.nodeBlock {
  max-width: 1635px;
  margin: 0 auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  a.node {
    display: flex;
    width: 365px;
    height: 272px;
    justify-content: center;
    align-items: center;
    background: #f09800;
    border: 10px solid #fff;
    box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0 0 9px rgba($color: #391414, $alpha: 0.15);
  }
}
.detailBlock {
  max-width: 1635px;
  margin: 0 auto 40px auto;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: #391414, $alpha: 0.15);
  overflow: hidden;
  background: $boxBg;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 90px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #fda300;
  }
  table.detail {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 1;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    thead tr {
      padding: 0 40px;
      background: #fda300;
    }
    tbody {
      display: block;
      overflow: auto;
      height: 460px;
    }
    tbody::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $boxBg;
    }

    tbody::-webkit-scrollbar {
      width: 15px;
      background-color: $boxBg;
    }

    tbody::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #d6c9af;
    }
    + .btn {
      max-width: 1635px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    th {
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
    }
    th,
    td {
      line-height: 90px;
      padding: 0 0.5em;
      text-align: center;
    }
    td {
      font-size: 30px;
      font-weight: 600;
      color: #53402b;
      border-bottom: 3px solid #e5dbc8;
    }
  }
  + .btn {
    max-width: 1635px;
    margin: 0 auto;
    .total {
      font-size: 40px;
      font-weight: 800;
      color: $textColor;
    }
  }
}
